button{
  height:50px;


}

table{
  border:1px solid black;
  width:100%;
  height:100%;
border-collapse: collapse;

}
table,td,th{
  font-size:1.5em;
  text-align:center;
  border:1px solid black;
}


td{
  height:9vh;
  width:9vh;



}
button{
  float:right;
  margin-right:10px;
  }